@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/utils.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-complement: var(--primary-complement);
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --shadow-md: 0px 4px 20px 0px var(--shadow);
  --shadow-lg: 0px 8px 40px 0px var(--shadow);
  --shadow-xl: 0px 12px 40px 0px var(--shadow);
  --shadow-inner-lg: inset 0px 8px 40px 0px var(--shadow);
  --shadow-inner-md: inset 0px 4px 20px 0px var(--shadow);
  --shadow-inner-sm: inset 0px 2px 10px 0px var(--shadow);

  --spacing-shell: 1140px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-appear: appear 0.6s forwards ease-out;
  --animate-appear-zoom: appear-zoom 0.6s forwards ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(1rem);
      filter: blur(0.5rem);
    }
    50% {
      filter: blur(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem; */
}

:root {
  --brand: hsl(86, 76%, 47%);
  --brand-foreground: hsl(80, 100%, 50%);
  --radius: 1.25rem;
  --shell-width: 1280px;
  --background: hsl(45, 10%, 96%);
  --foreground: hsl(45, 0%, 25%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 20%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 20%);
  --primary: hsl(86, 96%, 22%);
  --primary-foreground: hsl(79, 100%, 97%);
  --primary-complement: hsl(276, 87%, 63%);
  --secondary: hsl(60, 12%, 92%);
  --secondary-foreground: hsl(45, 6%, 10%);
  --muted: hsl(60, 12%, 94%);
  --muted-foreground: hsl(60, 2%, 56%);
  --accent: hsl(60, 12%, 90%);
  --accent-foreground: hsl(45, 6%, 10%);
  --destructive: hsl(7, 93%, 58%);
  --destructive-foreground: hsl(0, 100%, 98%);
  --success: hsl(86, 100%, 32%);
  --success-foreground: hsl(79, 100%, 97%);
  --border: hsl(45, 18%, 84%);
  --input: hsl(45, 8%, 92%);
  --ring: hsl(80, 100%, 40%);
  --chart-1: hsl(142, 81%, 71%);
  --chart-2: hsl(144, 100%, 39%);
  --chart-3: hsl(142, 100%, 33%);
  --chart-4: hsl(144, 100%, 25%);
  --chart-5: hsl(148, 96%, 20%);
  --sidebar: hsl(45, 12%, 96%);
  --sidebar-foreground: hsl(0, 0%, 21%);
  --sidebar-primary: hsl(86, 100%, 32%);
  --sidebar-primary-foreground: hsl(78, 92%, 95%);
  --sidebar-accent: hsl(45, 12%, 88%);
  --sidebar-accent-foreground: hsl(240, 6%, 10%);
  --sidebar-border: hsl(45, 7%, 97%);
  --sidebar-ring: hsl(80, 100%, 45%);

  /* Shadows */
  --shadow: #00000008;
  --shadow-strong: #00000008;
}

.dark {
  --brand: hsl(86, 96%, 36%);
  --brand-foreground: hsl(80, 74%, 45%);
  --background: hsl(210, 7%, 11%);
  --foreground: hsl(85, 26%, 91%);
  --card: hsl(210, 7%, 18%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(210, 7%, 18%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(97, 78%, 65%);
  --primary-foreground: hsl(80, 10%, 6%);
  --primary-complement: hsl(276, 57%, 61%);
  --secondary: hsl(210, 7%, 22%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(210, 7%, 22%);
  --muted-foreground: hsl(240, 2%, 70%);
  --accent: hsl(210, 7%, 27%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(7, 97%, 70%);
  --border: hsl(210, 7%, 32%);
  --input: hsl(210, 7%, 24%);
  --ring: hsl(80, 100%, 40%);
  --chart-1: hsl(142, 81%, 71%);
  --chart-2: hsl(144, 100%, 39%);
  --chart-3: hsl(142, 100%, 33%);
  --chart-4: hsl(144, 100%, 25%);
  --chart-5: hsl(148, 96%, 20%);
  --sidebar: hsl(210, 7%, 11%);
  --sidebar-foreground: hsl(85, 26%, 91%);
  --sidebar-primary: hsl(97, 78%, 65%);
  --sidebar-primary-foreground: hsl(80, 10%, 6%);
  --sidebar-accent: hsl(210, 7%, 22%);
  --sidebar-accent-foreground: hsl(97, 78%, 65%);
  --sidebar-border: hsl(213, 80%, 6%);

  /* Shadows */
  --shadow: #00000020;
  --shadow-strong: #00000088;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
