@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/utils.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-complement: var(--primary-complement);
  --color-primary: var(--primary);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --shadow-md: 0px 4px 20px 0px var(--shadow);
  --shadow-lg: 0px 8px 40px 0px var(--shadow);
  --shadow-xl: 0px 12px 40px 0px var(--shadow);
  --shadow-inner-lg: inset 0px 8px 40px 0px var(--shadow);
  --shadow-inner-md: inset 0px 4px 20px 0px var(--shadow);
  --shadow-inner-sm: inset 0px 2px 10px 0px var(--shadow);

  --spacing-shell: 1140px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-appear: appear 0.6s forwards ease-out;
  --animate-appear-zoom: appear-zoom 0.6s forwards ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(1rem);
      filter: blur(0.5rem);
    }
    50% {
      filter: blur(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem; */
}

:root {
  --brand: oklch(0.785 0.21 131.917);
  --brand-foreground: oklch(0.91 0.245 129.86);
  --radius: 1.25rem;
  --shell-width: 1280px;
  --background: oklch(0.975 0.002 91.428);
  --foreground: oklch(0.371 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.321 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.321 0 0);
  --primary: oklch(0.485 0.135 132.608);
  --primary-foreground: oklch(0.992 0.021 121.112);
  --primary-complement: oklch(0.627 0.238 308.512);
  --secondary: oklch(0.945 0.005 106.491);
  --secondary-foreground: oklch(0.219 0.005 91.579);
  --muted: oklch(0.945 0.005 106.491);
  --muted-foreground: oklch(0.655 0.007 106.579);
  --accent: oklch(0.913 0.008 91.482);
  --accent-foreground: oklch(0.219 0.005 91.579);
  --destructive: oklch(57.89% 0.18053 30.505);
  --destructive-foreground: oklch(0.977 0.011 17.344);
  --success: oklch(55.488% 0.15679 133.252);
  --success-foreground: oklch(0.992 0.021 121.112);
  --border: oklch(0.888 0.015 91.554);
  --input: oklch(0.933 0.005 106.491);
  --ring: oklch(0.77 0.206 129.67);
  --chart-1: oklch(0.869 0.153 153.949);
  --chart-2: oklch(0.723 0.21 147.892);
  --chart-3: oklch(0.638 0.189 147.169);
  --chart-4: oklch(0.522 0.149 148.543);
  --chart-5: oklch(0.441 0.116 151.649);
  --sidebar: oklch(0.975 0.003 91.432);
  --sidebar-foreground: oklch(0.331 0 0);
  --sidebar-primary: oklch(0.644 0.183 133.373);
  --sidebar-primary-foreground: oklch(0.985 0.032 120.58);
  --sidebar-accent: oklch(0.913 0.008 91.482);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.874);
  --sidebar-border: oklch(0.978 0.001 91.419);
  --sidebar-ring: oklch(0.841 0.226 129.775);

  /* Shadows */
  --shadow: oklch(0 0 0 / 0.031);
  --shadow-strong: oklch(0 0 0 / 0.031);
}

.dark {
  --brand: oklch(0.693 0.195 133.241);
  --brand-foreground: oklch(0.764 0.192 127.816);
  --background: oklch(0.225 0.005 248.043);
  --foreground: oklch(0.942 0.017 125.292);
  --card: oklch(0.294 0.007 248.075);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.294 0.007 248.075);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.858 0.193 135.221);
  --primary-foreground: oklch(0.174 0.006 122.086);
  --primary-complement: oklch(0.622 0.175 309.958);
  --secondary: oklch(0.339 0.009 248.086);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.339 0.009 248.086);
  --muted-foreground: oklch(0.761 0.004 286.297);
  --accent: oklch(0.387 0.01 248.096);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(70.726% 0.18481 23.024);
  --destructive-foreground: oklch(23.566% 0.09671 29.223);
  --success: oklch(70.32% 0.2001 133.595);
  --success-foreground: oklch(21.398% 0.05328 124.273);
  --border: oklch(0.434 0.012 248.104);
  --input: oklch(0.358 0.009 248.091);
  --ring: oklch(0.77 0.206 129.67);
  --chart-1: oklch(0.869 0.153 153.949);
  --chart-2: oklch(0.723 0.21 147.892);
  --chart-3: oklch(0.638 0.189 147.169);
  --chart-4: oklch(0.522 0.149 148.543);
  --chart-5: oklch(0.441 0.116 151.649);
  --sidebar: oklch(0.225 0.005 248.043);
  --sidebar-foreground: oklch(0.942 0.017 125.292);
  --sidebar-primary: oklch(0.858 0.193 135.221);
  --sidebar-primary-foreground: oklch(0.174 0.006 122.086);
  --sidebar-accent: oklch(0.339 0.009 248.086);
  --sidebar-accent-foreground: oklch(0.858 0.193 135.221);
  --sidebar-border: oklch(0.225 0.005 248.043);

  /* Shadows */
  --shadow: oklch(0 0 0 / 0.125);
  --shadow-strong: oklch(0 0 0 / 0.533);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
